/* ==========================================================================
   Layouts Cart
   ========================================================================== */

.cart {
  $c: &;
  padding-bottom: 48px;
  .container {
    display: flex;
  }
  &__left {
    flex: 1;
    margin-right: 48px;
  }
  &__right {
    margin-left: auto;
    margin-top: 24px;
    @include clearfix;
  }
  &-summary {
    padding: 24px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    max-width: 347px;
    &__title {
      @include font-size(h4);
      color: color(grey, 1);
      padding-bottom: 12px;
      margin-bottom: 16px;
      border-bottom: 2px solid color(grey, d);
    }
    &__list {
      list-style: none;
      padding: 0;
    }
    &__item {
      // margin-bottom: 40px;
    }
    &__name {
      float: left;
      margin-bottom: 16px;
      color: color(grey, 1);
      font-weight: fw(regular);
    }
    &__total {
      margin-bottom: 16px;
      float: right;
      padding-left: 48px;
    }
    .btn--order {
      width: 100%;
    }
  }
  #{$c} {
    &__item {
      padding-top: 24px;
      padding-bottom: 20px;
      border-bottom: 1px solid color(grey, d);
    }
  }
  &__summary {
    $cs: &;
    width: 347px;
    padding: 24px 24px 32px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    &__title {
      margin-bottom: 24px;
    }
    &__list {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    &__item {
      margin-bottom: 16px;
      display: flex;
      &:last-child {
        margin-bottom: 24px;
        padding-top: 8px;
        border-top: 1px solid color(grey, d);
        #{$cs} {
          &__name,
          &__total {
            font-weight: fw(bold);
          }
        }
      }
    }
    &__name,
    &__total {
      margin-bottom: 0;
      font-weight: fw(regular);
    }
    &__total {
      margin-left: auto;
    }
    .btn--secondary {
      min-width: 100%;
    }
  }
  .fi {
    &-sub,
    &-add {
      @include font-size(h5);
      border: 1px solid color(grey, c);
      border-radius: 2px;
      width: 16px;
      line-height: 1.4rem;
      color: color(grey, 8);
      font-weight: fw(regular);
      display: inline-block;
      vertical-align: middle;
    }
    &-qty {
      @include font-size(label);
      width: 16px;
      padding: 0;
      border: 0;
      line-height: 1;
      background-color: transparent;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &__img {
      &__el {
        margin-bottom: 32px;
        // display: block;
      }
    }
    &__btn {
      text-align: center;
    }
    &__title {
      @include font-size(h3);
    }
    &__desc {
      margin-bottom: 32px;
    }
  }
}
