/* ==========================================================================
   Layouts Footer
   ========================================================================== */

.footer {
  position: absolute;
  z-index: zi(footer);
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: color(grey, 8);
  @include medium {
    position: relative;
  }
  &__copyright {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
    @include font-size(small);
  }
}

.overlay {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: zi(overlay);
  transition: all .3s ease;
  transition-delay: .3s;
  .show-popup-cart-success & {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}
