/* ==========================================================================
   Layouts Form
   ========================================================================== */

.form {
  &__wrapper {
    font-size: 0;
  }
  &__banner,
  &__input {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  &__banner {
  }
  &__input {
  }
  /* form-input --------------------------------------------------------------- */
  .form-input {
    width: 480px;
    margin-left: auto;
  }
}
