/* ==========================================================================
   Layouts Header
   ========================================================================== */

.header {
  $h: &;
  position: fixed;
  width: 100%;
  background-color: color(white);
  transition: transform .35s ease;
  z-index: zi(header);
  @include shadow(8);
  .window-scrolled & {
    transform: translateY(-100%);
    transition: transform .5s ease;
  }
  &__content {
    padding: 16px 32px;
    @include clearfix;
  }
  &__left {
    float: left;
    font-size: 0;
  }
  &__logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 48px;
  }
  &__search {
    display: inline-block;
    vertical-align: middle;
    &__input {
      width: 400px;
      height: 40px;
      background-color: color(grey, 4);
      border: 0;
      padding: 12px 14px;
      color: color(grey, 8);
      @include font-size(label);
      @include radius(8);
      @include placeholder-color(color(grey, 8));
    }
  }
  &__right {
    float: right;
    font-size: 0;
  }
  &__cart {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
    position: relative;
    &__total {
      position: absolute;
      top: 0;
      right: 0;
      background-color: color(red, 3);
      color: color(white);
      width: 14px;
      height: 14px;
      border-radius: 50%;
      font-size: .8rem;
      line-height: 1;
      padding: 3px;
    }
    .fi-cart {
      font-size: 3.2rem;
      display: block;
    }
  }
  &__profile {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      #{$h}__dropdown {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }
  }
  &__user {
    font-size: 0;
    &__avatar {
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      &__el {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__name {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      font-weight: fw(regular);
      color: color(grey, 1);
      @include font-size(label);
    }
  }
  &__dropdown {
    position: absolute;
    top: 72px;
    width: 140px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    padding: 24px 16px;
    list-style: none;
    margin-bottom: 0;
    background-color: color(white);
    border-radius: 0 0 8px 8px;
    transition: all .2s ease;
    @include shadow(4);
    &__item {
      margin-bottom: 20px;
      line-height: 1;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      text-decoration: none;
      color: color(grey, 3);
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      transition: all .3s ease;
      &:hover {
        color: color(red, 1);
        .fi {
          color: color(red, 1);
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        @include font-size(small);
      }
    }
    .fi {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      color: color(grey, 8);
      font-size: 1.6rem;
      transition: all .3s ease;
    }
  }
}
