/* ==========================================================================
Components: Alert
========================================================================== */

.alert {
  padding: 8px 16px;
  border-radius: 8px;
  @include shadow(4);
  margin-bottom: 24px;
  display: none;
  @include small {
    margin-bottom: 16px;
  }
  &__wrapper {
    display: table;
  }
  &__icon,
  &__text {
    display: table-cell;
    vertical-align: middle;
  }
  &__icon {
    padding-right: 16px;
    @include font-size(h4);
  }
  &__text {
    @include font-size(label);
    margin-bottom: 0;
  }
  &--error {
    background-color: color(primary, 2);
    color: color(primary, 1);
  }
}
