/* ==========================================================================
   Components Cart Item
   ========================================================================== */

   .cart {
    &__store {
      margin-bottom: 16px;
      &__txt {
        display: inline-block;
      }
      &__name {
        @include font-size(label);
        font-weight: fw(semi-bold);
        color: color(black, 3);
        margin-bottom: 4px;
      }
      &__addr {
        @include font-size(label);
        color: color(grey, 1);
        margin-bottom: 0;
      }
    }
    &__item {
      padding: 24px 0;
      border-bottom: 1px solid color(grey, 2);
      &__top {
        font-size: 0;
        margin-bottom: 24px;
        .checkbox {
          vertical-align: middle;
        }
      }
      &__prod {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid color(grey, 2);
        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }
      }
      &__img {
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        height: 120px;
        border-radius: 4px;
        overflow: hidden;
        &__el {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &__txt {
        display: inline-block;
        vertical-align: top;
        margin-left: 32px;
        max-width: 500px;
      }
      &__ttl {
        @include font-size(h5);
        font-weight: fw(regular);
        @include multiline-ellipsis(2);
      }
      &__discount {
        display: inline-block;
        vertical-align: middle;
        text-decoration: line-through;
        @include font-size(label);
        color: color(grey, 1);
        margin: 0 16px 0 0;
        span {
          @include font-size(label);
          font-weight: fw(bold);
          display: inline-block;
          vertical-align: middle;
          border-radius: 4px;
          margin-right: 6px;
          padding: 2px 4px;
          color: color(primary, 1);
          background-color: color(grey, 2);
        }
      }
      &__price {
        display: inline-block;
        vertical-align: middle;
        @include font-size(h6);
        color: color(black, 3);
        margin-bottom: 0;
      }
      &__bot {
        font-size: 0;
      }
      &__detail {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 80%;
      }
      &__control {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        width: 20%;
        .qty {
          display: inline-block;
          vertical-align: middle;
          margin-left: 48px;
        }
      }
      &__note {
        display: inline-block;
        position: relative;
        @include  clearfix;
      }
      &__desc {
        display: inline-block;
        vertical-align: middle;
        max-width: 400px;
        @include ellipsis;
        @include font-size(label);
        margin-right: 8px;
        margin-bottom: 0;
      }
      &__label {
        position: absolute;
        left: 12px;
        top: -4px;
        display: inline-block;
        @include font-size(x-small);
        margin-bottom: 0;
        padding: 0 4px;
        background-color: color(white);
      }
      &__textarea {
        display: block;
        width: 280px;
        border: 1px solid color(primary, 1);
        border-radius: 8px;
        padding: 10px 16px;
        @include font-size(label);
        background-color: color(white);
        resize: none;
      }
      &__count {
        position: absolute;
        right: 0;
        @include font-size(x-small);
        margin: 4px 0 0;
      }
    }
  }
