-
  payment = {
    img: 'payment.svg',
    alt: 'Payment',
    title: 'Anda Berhasil Berbelanja',
    desc: 'Silakan melakukan pembayaran ke salah satu rekening berikut:',
    btnTo: '#product.html',
    btnText: 'Belanja Barang Lain',
    list: [
      {
        imgBank: 'bca.svg',
        altBank: 'BCA',
        number: '6530252815',
        name: 'a/n Akbar Nurdiansyah'
      },
      {
        imgBank: 'mandiri.svg',
        altBank: 'Mandiri',
        number: '6530252815',
        name: 'a/n Akbar Nurdiansyah'
      },
      {
        imgBank: 'permata-bank-syariah.svg',
        altBank: 'Permata Bank Syariah',
        number: '009815942962',
        name: 'a/n Akbar Nurdiansyah'
      }
    ]
  }
include ../../components/payment.pug