-
  dataAuth = {
    logo: {
      src: 'logo.svg',
      alt: 'axtbFeed'
    },
    success: {
      icon: 'check-circle-outline',
      title: 'Akun Aktif',
      desc: 'Selamat akun anda sudah aktif, silakan melanjutkan simulasi integrasi. Semangat!'
    },
    modifier: 'email-active'
  }

include ../../layouts/auth.pug
