-
  dataAuth = {
    bg: {
      src: 'bg.svg',
      alt: 'Login Bg'
    },
    logo: {
      src: 'logo.svg',
      alt: 'axtbFeed'
    },
    success: {
      icon: 'check-circle-outline',
      title: 'Registrasi Berhasil',
      desc: 'Silakan cek email Anda untuk proses aktivasi akun'
    }
  }

include ../../layouts/auth.pug
