//-------------------------------------------------------------------------------
  @name: header
  -------------------------------------------------------------------------------//

.header
  .header__content
    .header__left
      =`\n`
      a.header__logo(href='index.html')
        =`\n`
        img.header__logo__el(src='assets/img/logo/axtb-fed-primary.svg', alt='axtbFed')/
      =`\n`
      .header__search
        =`\n`
        form.header__search__form(action='get')
          =`\n`
          input.header__search__input(type='text' placeholder='Cari Produk')/
    .header__right
      =`\n`
      a.header__cart.js-cart(href='cart.html')
        =`\n`
        i.fi.fi-cart
        //- span.header__cart__total 16
      //-   if looged
      //-     =`\n`
      //- if !looged
      //-   =`\n`
      //-   a.header__login.btn.btn--secondary(href='login') Masuk
      //- else
      //-   .header__profile
      //-     .header__user
      //-       .header__user__avatar
      //-         =`\n`
      //-         img.header__user__avatar__el(src='assets/img/dummy/user.png', alt='Alexa Joessee')/
      //-       h6.header__user__name Alexa Joessee
      //-     ul.header__dropdown
      //-       li.header__dropdown__item
      //-         =`\n`
      //-         a.header__dropdown__link(href='#')
      //-           =`\n`
      //-           i.fi.fi-user
      //-           =`\n`
      //-           span Profile
      //-       li.header__dropdown__item
      //-         =`\n`
      //-         a.header__dropdown__link(href='#')
      //-           =`\n`
      //-           i.fi.fi-logout
      //-           =`\n`
      //-           span Logout
///header
