//-------------------------------------------------------------------------------
  @name: products-detail
  -------------------------------------------------------------------------------//

//products-detail
.products-detail
  .container
    .products-detail__body
///products-detail
