/* ==========================================================================
   Components Products Item
   ========================================================================== */

.products {
  $p: &;
  &__box {
    height: 100%;
    position: relative;
    @include radius(8);
    @include shadow(16);
    transition: all .3s ease;
    &:hover {
      transform: translateY(-4px);
    }
  }
  &__link {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__whislist {
    outline: 0;
    border: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-color: color(white);
    border-radius: 50%;
    z-index: 2;
    &__el {
      transition: all .3s ease;
    }
    &:hover {
      #{$p}__whislist__el {
        transform: scale(.9);
      }
    }
  }
  &__title {
    margin-bottom: 8px;
    @include multiline-ellipsis(3);
  }
  &__img {
    position: relative;
    padding-bottom: 85.65%;
    &__el {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }
  }
  &__txt {
    padding: 16px 16px 68px;
    border-radius: 0 0 8px 8px;
  }
  &__price {
    margin-bottom: 0;
    color: color(orange, 3);
  }
  &__bottom {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
  }
  &__discount {
    @include font-size(small);
    margin-bottom: 8px;
    span {
      display: inline-block;
      vertical-align: middle;
      padding: 2px 4px;
      background-color: color(grey, d);
      color: color(red, 1);
      font-weight: fw(bold);
      margin-right: 8px;
      @include radius(4);
    }
    s {
      display: inline-block;
      vertical-align: middle;
      color: color(grey, 8);
    }
  }
  &__city {
    color: color(grey, 8);
    margin-bottom: 4px;
    font-weight: fw(regular);
    @include font-size(label);
  }
  &__rate {
    line-height: 1.6rem;
  }
  &__star {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    line-height: 1.6rem;
    .fi-star {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.4rem;
      color: color(orange, 1);
    }
  }
  &__count {
    display: inline-block;
    vertical-align: middle;
    color: color(grey, 8);
    margin-bottom: 0;
    @include font-size(extra-small);
  }
}
