extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Products Detail';
    headerActive = 'products';


//- Body
block siteContent
  //- products-detail
  include ../layouts/products-detail.pug
  //- popup-cart
  include ../layouts/popup-cart.pug
