-
  data = {
    title : 'Produk Terbaru',
    card: [
      {
        to: 'product-detail.html',
        img: '1.jpeg',
        title: 'Product Item 1',
        price: 'Rp75.000',
        city: 'Bandung',
        star: 4,
      },
      {
        to: 'product-detail.html',
        img: '2.jpeg',
        title: 'Product Item 2',
        price: 'Rp150.000',
        city: 'Jakarta',
        star: 4,
      },
      {
        to: 'product-detail.html',
        img: '3.jpeg',
        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, perspiciatis.',
        price: 'Rp60.000.',
        city: 'Bali',
        star: 4,
      },
      {
        to: 'product-detail.html',
        img: '3.jpeg',
        title: 'Product Item 4',
        price: 'Rp45.000',
        city: 'Tanggerang',
        star: 4,
      },
      {
        to: 'product-detail.html',
        img: '3.jpeg',
        title: 'Product Item 4',
        price: 'Rp45.000',
        city: 'Tanggerang',
        star: 4,
      }
    ]
  }
include ../../layouts/product.pug
