-
  data = {
    image: '1.jpeg',
    title: 'Autofit Penetrating Oil 702 500ml Cairan Perontok Karat Baut dan Besi',
    sale: 1.978,
    star: 4,
    ulasan: 1004,
    diskusi: 16,
    price: 25000,
    discount_percent: 20,
    discount_rp: 60000,
    detail: 'Autofit Penetrating Oil 702 500ml Cairan dengan formula khusus untuk merontokkan karat yang menempel pada baut, besi dan logam lainnya.',
    image_store: '2.jpeg',
    store: 'Autofit Official',
    active: 'Online 5 menit lalu',
    location: 'Jakarta'
  }

include ../../layouts/product-detail.pug
