//-------------------------------------------------------------------------------
  @name: cart summary
  -------------------------------------------------------------------------------//

.cart__summary
  h4.cart__summary__ttl
    | Ringkasan belanja
  ul.cart__summary__list
    li.cart__summary__item
      p.cart__summary__txt__left
        | Total Harga (5 barang)
      p.cart__summary__txt__right
        | Rp375.000
    li.cart__summary__item
      p.cart__summary__txt__left
        | Total Diskon Barang
      p.cart__summary__txt__right
        | Rp45.000
  .cart__summary__result
    .cart__summary__txt
      p.cart__summary__txt__left
        | Total Harga
      p.cart__summary__txt__right
        | Rp330.000
    button.btn.btn--primary.btn--block(type='button')
      | Beli (5)
