/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  primary: (
    1: #e52f49,
    2: #c20346
  ),
  orange: (
    1: #ffc42e,
  ),
  black: (
    1: #222,
    2: #333,
  ),
  grey: (
    1: #888,
    2: #ddd,
    3: #f7f7f7
  ),
  white: #fff,
  overlay: rgba(#000, 0.7),
  opacity: rgba(#9c69e2, 0.2),
  gradient: linear-gradient(114.44deg, #E31B5A 0%, #E6393F 100%),
  social-media: (
    facebook: #1877f2,
    twitter: #1da1f2,
    instagram: #405de6,
    whatsapp: #25d366,
    youtube: #ff0000,
    spotify: #1db954,
  ),
);
