/* ==========================================================================
   Variable: Shadow
   ========================================================================== */

$shadow: (
  s4: 0 2px 8px rgba(color(black, 2), 0.2),
  s8: 0 4px 16px rgba(color(black, 2), 0.05),
  s16: 0 4px 24px rgba(0, 0, 0, 0.2),
  s32: 0px 4px 32px 4px rgba(0, 0, 0, 0.04),
);
