/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  header-burger-menu: 2,
  modal: 5
);
