//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

-
  data = {
    copyright: '&copy; 2021-2022 Bilik Imaji Kreasi',
  }

// .footer
.footer
  .footer__copyright
    .container
      p.footer__copyright__txt !{data.copyright}






