//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

-
  dataHeader = {
    logoSrc: 'logo-text.svg',
    logoLink: 'index.html',
    logoAlt: 'axtbFeed',
    btnLogin: {
      to: 'login.html',
      text: 'Masuk'
    },
    btnCart: {
      to: 'cart.html',
    },
  }

//header
.header
  .container
    .header__content
      .header__left
        ='\n'
        a.header__logo(href=dataHeader.logoLink)
          ='\n'
          img.header__logo__el(src="assets/img/logo/"+dataHeader.logoSrc alt=dataHeader.logoAlt)/
        .header__search
          ='\n'
          input(type="text" class="fi-single-line"  placeholder="Cari produk" autocomplete='off')/
      .header__right
        ='\n'
        a.header__cart.js-cart(href='cart.html')
          ='\n'
          i.mdi.mdi-cart-outline
          ='\n'
          if looged
            span.header__cart__total 16
          ='\n'
        if !looged
          a.btn.btn--primary.btn--header(href='login.html') Masuk
          ='\n'
        else
          .header__profile
            .header__user
              .header__user__avatar
                =`\n`
                img.header__user__avatar__el(src='assets/img/dummy/user.png', alt='Alexa Joessee')/
              h6.header__user__name Alexa Joessee
            ul.header__dropdown
              li.header__dropdown__item
                =`\n`
                a.header__dropdown__link(href='profile.html')
                  =`\n`
                  i.mdi.mdi-account-outline
                  =`\n`
                  span Profile
              li.header__dropdown__item
                =`\n`
                a.header__dropdown__link.js-logout(href='login.html')
                  =`\n`
                  i.mdi.mdi-logout
                  =`\n`
                  span Logout

