//-------------------------------------------------------------------------------
  @name: cart
  -------------------------------------------------------------------------------//

//cart
.cart
  .container
    ='\n'
    form.cart__form.fi-form(action="#")
      .fi-row
        label.fi-label(for="phone") No. Handphone
        ='\n'
        input#phone.fi-single-line.js-phone.number-pnly(type='text' name='phone' data-target='alertPhone' autocomplete='off')
        p#alertPhone.fi-alert(data-req='Phone Number is required!' data-invalid='Number Only' data-invalid-phone='Phone Number Invalid')
      ='\n'
      button.btn.btn--submit.js-check-cart(type='submit') Lihat Keranjang
    h1.cart__title Keranjang
    h2.cart__name
    //cart-list
    .cart__list
///cart
