//-------------------------------------------------------------------------------
  @name: cart
  -------------------------------------------------------------------------------//

//cart
.cart
  .container
    .cart__left
      h1.cart__title Keranjang
      .cart__list
    .cart__right
///cart
