//-------------------------------------------------------------------------------
  @name: footer
  -------------------------------------------------------------------------------//

//footer
.footer
  .container
    p.footer__copyright &copy; 2021-2022 Bilik Imaji Kreasi
///footer
.overlay
