//-------------------------------------------------------------------------------
  @name: form
  -------------------------------------------------------------------------------//

//form
.form
  .container
    .form__wrapper
      //form-banner
      .form__banner
        =`\n`
        img.form__banner__el(src='assets/img/bg/banner.svg', alt='axtbFed')/
      //form-input
      .form__input
        include ../components/form-input.pug
///form
