//-------------------------------------------------------------------------------
  @name: header
  -------------------------------------------------------------------------------//

//header
.header
  .header__content
    .header__left
      =`\n`
      a.header__logo(href='index.html')
        =`\n`
        img.header__logo__el(src='assets/img/logo/axtb-fed-primary.svg', alt='axtbFed')/
      =`\n`
      .header__search
        =`\n`
        form.header__search__form(action='get')
          =`\n`
          input.header__search__input(type='text' placeholder='Cari Produk')/
    .header__right
      =`\n`
      a.header__cart(href='cart.html')
        =`\n`
        i.fi.fi-cart
      =`\n`
      a.header__login.btn.btn--secondary(href='login.html') Masuk
///header
