//-------------------------------------------------------------------------------
  @name: products
  -------------------------------------------------------------------------------//

//products
.products
  .container
    .products__head
      h4.products__label Produk Terbaru
    .products__list.js-products-list
///products
