/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  overlay: 10,
  popup-cart: 11,
);
