/* ==========================================================================
   Layout: cart
  ========================================================================== */

  .cart {
    padding: 48px 0;
    &__ttl {
      @include font-size(h4);
      padding-bottom: 16px;
      margin-bottom: 0;
    }
    &__head {
      border-bottom: 2px solid color(grey, 2);
      padding-bottom: 12px;
      @include clearfix;
      &__left {
        float: left;
      }
      &__right {
        float: right;
        .btn-text {
          display: none;
        }
      }
    }
    &__wrapper {
      position: relative;
      @include clearfix;
    }
    &__cntnt {
      float: left;
      width: calc((100% - 350px) - 48px);
      margin-right: 48px;
    }
    &__left {
      float: left;
      width: calc((100% - 350px) - 48px);
      margin-right: 48px;
    }
    &__right {
      float: right;
      width: 350px;
    }
    &__empty {
      text-align: center;
      &__img {
        margin-bottom: 32px;
      }
      &__ttl {
        @include font-size(h3);
      }
      &__desc {
        margin-bottom: 40px;
      }
    }
  }
