/* ==========================================================================
Layout: product
========================================================================== */

.product {
  $b: &;
  padding: 48px 0;
  overflow: hidden;
  @include large {
    padding: 48px 0;
  }
  &__head {
    margin-bottom: 14px;
  }
  &__title {
    @include font-size(h4);
    margin-bottom: 0;
  }
  &__body {
    position: relative;
  }
  &__list {
    margin: 0 -10px;
    @include clearfix;
  }
  #{$b}__card {
    float: left;
    width: 20%;
    padding: 10px;
    @include medium {
      float: none;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 312px;
      padding: 0;
      margin-right: 20px;
      white-space: normal;
      &:last-child {
        margin-right: 20px;
      }
    }
    @include x-small {
      max-width: 280px;
      margin-right: 16px;
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}
