/* ==========================================================================
   Layouts Footer
   ========================================================================== */

.footer {
  position: absolute;
  z-index: zi(footer);
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: color(grey, 8);
  @include medium {
    position: relative;
  }
  &__copyright {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
    @include font-size(small);
  }
}
